li {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.channel-item {
  display: flex; /* Utiliser Flexbox pour aligner les éléments sur la même ligne */
  align-items: center; /* Aligner les éléments verticalement au centre */
}

.setting {
  margin-left: 10px; /* Marge à gauche pour espacer l'icône SVG du nom du canal */
}

.btn-gestion {
  display: none; /* Par défaut, masquer les boutons de gestion */
}

.btns-open {
  display: block; /* Afficher les boutons de gestion si ouverts */
}
.formSubmit {
  padding-left: 20px;
}
.nav-link {
  color: var(--primary-color-blanc);
}

.setting {
  color: var(--primary-color-blanc);
  cursor: pointer;
}
.setting:hover {
  color: var(--statut-color-unselected);
}

.btns-hidden {
  display: none;
}

.btns-open {
  display: block;
}
/* Gestion des deux boutons */
.btn-config {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--statut-color-unselected);
  border-radius: var(--border-radius-bloc);
}

.btn:hover {
  color: var(--primary-color-blanc);
  background-color: var(--hover-color);
}

.btn-form {
  padding-left: 30px;
}
/* Gestion des deux boutons */
.btn-config {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--statut-color-unselected);
  border-radius: var(--border-radius-bloc);
}

.btn:hover {
  color: var(--primary-color-blanc);
  background-color: var(--hover-color);
}

/*Gestion modale et elements */
.modal-channel {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--primary-color-modal_background);
  border-radius: var(--border-radius-bloc);
}

h1,
p {
  text-align: center;
}

.btn-cancel {
  border: 1px solid var(--statut-color-unselected);
}

.btn-config-modal {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.modal-hidden {
  display: none;
}

.modal-open {
  display: block;
}

/* Gestion des deux boutons */
.btn-config {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--statut-color-unselected);
  border-radius: var(--border-radius-bloc);
}

.btn:hover {
  color: var(--primary-color-blanc);
  background-color: var(--hover-color);
}

/*Gestion modale et elements */
.modal-channel {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--primary-color-modal_background);
  border-radius: var(--border-radius-bloc);
}

h1,
p {
  text-align: center;
}

.btn-cancel {
  border: 1px solid var(--statut-color-unselected);
}

.btn-config-modal {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.modal-hidden {
  display: none;
}

.modal-open {
  display: block;
}
