<div class="channel-component">
  <div class="channel">
    <h2>Tous vos canaux</h2>

    <ul>
      <li *ngFor="let channel of listChannels, let i = index">
        <div (click)="changeIdChannel(channel.id)" class="channel-item">
          
            {{ channel.channelName }}
          
          <div
            class="setting-open"
            *ngIf="
              channel.channelName !== 'Général' && channel.channelName !== ''
            "
          >
            <svg
              (click)="openButtons(i)"
              class="setting"
              width="22"
              height="22"
              viewBox="0 0 22 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="11" cy="11" r="10.5" stroke="white" />
              <circle cx="11.5" cy="6.5" r="1.5" fill="white" />
              <circle cx="11.5" cy="11.5" r="1.5" fill="white" />
              <circle cx="11.5" cy="16.5" r="1.5" fill="white" />
            </svg>

            <div
              class="btn-gestion"
              [ngClass]="{
                'btns-open': buttonsOpen[i],
                'btns-hidden': !buttonsOpen[i]
              }"
            >
              <div class="btn-config">
                <button
                  (click)="updateChannel(channel.id)"
                  class="btn delete-btn"
                >
                  Modifier le canal
                </button>
                <button
                  (click)="deleteChannel(channel.id)"
                  class="btn delete-btn"
                >
                  Supprimer le canal
                </button>
              </div>
            </div>
          </div>
        </div>

        <div [ngClass]="[modalUpdateOpen]" class="modal-channel">
          <h1>Renommer ce canal</h1>

          <form
            *ngIf="idChannel === channel.id && formChannel"
            [formGroup]="formChannel"
          >
            <div>
              <label for="channelName" class="form-label"
                >Nom actuel du canal</label
              >
              <input
                type="text"
                name="channelName"
                id="channelName"
                class="form-control"
                formControlName="channelName"
              />

              <span
                *ngIf="formChannel.controls['channelName'].errors?.['required'] &&
      formChannel.controls['channelName'].touched"
                class="text-danger"
                >Votre nom n'est pas valide (minimum 20 lettres)
              </span>
            </div>

            <div class="btn-config-modal">
              <button (click)="cancel()" class="btn btn-cancel">Annuler</button>
              <button (click)="save()" class="btn btn-valid">
                Renommer
              </button>
            </div>
          </form>
        </div>
      </li>
    </ul>

    <div class="btn-form">
      <div *ngIf="showForm">
        <form
          (submit)="
            createChannel(newChannelName.value); newChannelName.value = ''
          "
        >
          <input type="text" #newChannelName required />
          <button class="submitButton" type="submit">Ajouter</button>
        </form>
      </div>
      <button
        class="btn-valid showFormButton"
        (click)="showForm = true"
        *ngIf="!showForm"
      >
        Créer un canal
      </button>
    </div>
  </div>
</div>

<!-- DELETE
<div [ngClass]="[modalDeleteOpen]" class="modal-channel">
  <h1>Souhaitez vous définitivement supprimer ce canal ?</h1>
  <p>Attention... vos données seront entièrement supprimées 😰</p>

    <div class="btn-config-modal">
      <button (click)="cancel()" class="btn btn-cancel">Annuler</button>
      <button (click)="delete(idChannel)" class="btn btn-danger">
        Renommer
      </button>
    </div>
</div>-->
