.message-component {
  color: var(--primary-color-blanc);
  padding: 15px;
}

.message {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 40px;
  border-radius: 50%;
  align-self: start;
}

.name-message {
  padding-right: 30px;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}

.name-hour {
  display: flex;
  gap: 10px;
}

.text-message {
  margin-top: 10px;
}

.setting {
  visibility: hidden;
  cursor: pointer;
}
.message-component:hover .setting {
  visibility: visible;
}

.btns-hidden {
  display: none;
}

.btns-open {
  display: block;
}

/* Gestion des deux boutons */
.btn-config {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--statut-color-unselected);
  border-radius: var(--border-radius-bloc);
}

.btn:hover {
  color: var(--primary-color-blanc);
  background-color: var(--hover-color);
}

.form-message-hidden {
  display: none;
}

.form-message-open {
  display: block;
}

/* Animation code */
.message-component:hover {
  background-color: var(--hover-color);
  border-radius: var(--border-radius-bloc);
}
