<header class="chat-header">
  <div class="chat-info">
    <div class="name-setting">
      <h2>Nom du canal actuel</h2>
      <svg
        (click)="openButtons()"
        class="setting"
        width="22"
        height="22"
        viewBox="0 0 22 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="11" cy="11" r="10.5" stroke="white" />
        <circle cx="11.5" cy="6.5" r="1.5" fill="white" />
        <circle cx="11.5" cy="11.5" r="1.5" fill="white" />
        <circle cx="11.5" cy="16.5" r="1.5" fill="white" />
      </svg>

      <div [ngClass]="[buttonsOpen]">
        <div class="btn-config">
          <button (click)="modalUpdate()" class="btn update-btn">
            Modifier le canal
          </button>
          <button (click)="modalDelete()" class="btn delete-btn">
            Supprimer le canal
          </button>
        </div>
      </div>
    </div>
    <p>4 membres</p>
  </div>

  <div class="chat-profil"></div>
</header>


<!-- UPDATE 
<div [ngClass]="[modalUpdateOpen]" class="modal-channel">
  <h1>Renommer ce canal</h1>

  
    <div>
      <label for="test" class="form-label">Nom actuel du canal</label>
      <input
        type="text"
        name="test"
        id="test"
        class="form-control"
        placeholder="test"
      />

      <span
        *ngIf="formChannel.controls['name'].errors?.['required'] &&
      formChannel.controls['name'].touched"
        class="text-danger"
        >Votre nom n'est pas valide (minimum 20 lettres)
      </span>
    </div>

    <div class="btn-config-modal">
      <button (click)="cancel()" class="btn btn-cancel">Annuler</button>
      <button (click)="update(idChannel)" class="btn btn-valid">
        Renommer
      </button>
    </div>
  
</div>-->

<!-- DELETE
<div [ngClass]="[modalDeleteOpen]" class="modal-channel">
  <h1>Souhaitez vous définitivement supprimer ce canal ?</h1>
  <p>Attention... vos données seront entièrement supprimées 😰</p>

    <div class="btn-config-modal">
      <button (click)="cancel()" class="btn btn-cancel">Annuler</button>
      <button (click)="delete(idChannel)" class="btn btn-danger">
        Renommer
      </button>
    </div>
  
</div>-->