<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SWAL Users</title>
</head>
<!-- 
    <div>
    <h2>Users</h2>
    <ul>
        <li *ngFor="let user of listUsers">
            {{ user.id }}
            {{ user.userName }}
            <button (click)="updateUser(user.id, newUserName.value)" placeholder="re">Update</button>
            <button (click)="deleteUser(user.id)">Delete</button>
        </li>
    </ul>
</div> 
-->

<div style="max-width: 700px" *ngIf="createUserSuccess" class="col align-self-center alert alert-success">
    <p class="my-0" style="text-align: center">Client modifié avec succès.</p>
</div>
<div style="max-width: 700px" *ngIf="deleteUserSuccess" class="col align-self-center alert alert-success">
    <p class="my-0" style="text-align: center">Client modifié avec succès.</p>
</div>
<div style="max-width: 700px" *ngIf="updateUserSuccess" class="col align-self-center alert alert-success">
    <p class="my-0" style="text-align: center">Client modifié avec succès.</p>
</div>

<h2>Users</h2>
<table border="1px">
    <tbody>
        <tr *ngFor="let user of listUsers">
            <td>{{user.id}}</td>
            <td>{{user.userName}}</td>
            <!-- <td><button (click)="updateUser(user.id, newUserName.value)" placeholder="re">Update</button></td> -->
            <td>

                <form>
                    <input #newNameInput type="text" />
                    <button (click)="updateUser(user.id, newNameInput.value)">
                        Update
                    </button>
                </form>
            </td>
            <td><button (click)="deleteUser(user.id)">Delete</button></td>

    </tbody>
</table>

<form (submit)="createUser(newUserName.value); newUserName.value = ''">
    <input type="text" #newUserName required />
    <button type="submit">Create</button>
</form>