.div {
        border-radius: var(--Border-radius-8, 8px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        background-color: #302e33;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        font-size: 15px;
        color: var(--Primary-color-blanc, #fff);
        padding: 15px;
      }

.form-message {
  display: flex;
  background: #302E33;
  padding: 15px;
  border-radius: var(--border-radius-bloc);
  border: 1px solid #ffffff20;
}

textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid transparent;
}